.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title {
  color: blue;
  font-weight: bold;
}

.accounts_wrapper {
  padding-top: 30px;
  width: 90%;
}
