.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title {
  color: blue;
  font-weight: bold;
}

.button {
  background-color: green;
}

.button_container {
  width: 300;
  margin-top: 20;
}

.button_title {
  color: white;
}
